@model IEnumerable<DokoMobile.Domain.Entities.OrderCart>
@{
    ViewBag.Title = "FinishedOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank you for trusting us!</h1>
<h2>We will send your goods asap :)</h2>
