@model IEnumerable<DokoMobile.Domain.Entities.Category>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-default btn-xs" }) |

                <button id=@item.CategoryId type="button" class="btn btn-primary btn-xs modal-confirm" data-toggle="modal" data-target="#deleteCategoryModal">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category?
            </div>
            <div class="modal-footer delete-crfm">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/Categories/Delete/" method="post">
                    <input type="submit"
                           class="btn btn-default btn-xs confirm-btn"
                           value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let allButtons = document.querySelectorAll(".modal-confirm");
    for (let i = 0; i < allButtons.length; i++) {
        allButtons[i].addEventListener("click", function () {
            let buttonId = allButtons[i].getAttribute("id");
            let idBackDel = document.querySelector(".delete-crfm form");
            let idBackDelAction = idBackDel.getAttribute("action");
            idBackDel.setAttribute("action", idBackDelAction += buttonId);
        });
    }

</script>
